<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td height="57" background="{{.viewpath}}/Images/main_02.gif">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="110" height="57" background="{{.viewpath}}/Images/main_01.gif">&nbsp;</td>
                <td>
                <table width="743" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="28" background="{{.viewpath}}/Images/main_03.gif">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="29">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="61" height="29" background="{{.viewpath}}/Images/main_06.gif">&nbsp;</td>
                                <td width="72">
                                    <a href="/index/alertpwd" target="mainFrame">
                                        <img alt="alert pwd" src="{{.viewpath}}/Images/main_07.gif" width="72" height="29" border="0"/>
                                    </a>
                                </td>
                                <td width="72">
                                    <a href="#">
                                        <img src="{{.viewpath}}/Images/main_08.gif" width="72" height="29" border="0"/>
                                    </a>
                                </td>
                                <td width="292" background="{{.viewpath}}/Images/main_09.gif">&nbsp;</td>
                                <td width="40">
                                    <a href="#">
                                        <img src="{{.viewpath}}/Images/main_10.gif" width="40" height="29" border="0"/>
                                    </a>
                                </td>
                                <td width="44">
                                    <a href="#">
                                        <img src="{{.viewpath}}/Images/main_11.gif" width="44" height="29" border="0"/>
                                    </a>
                                </td>
                                <td width="43">
                                    <a href="#">
                                        <img src="{{.viewpath}}/Images/main_12.gif" width="43" height="29" border="0"/>
                                    </a>
                                </td>
                                <td width="44">
                                    <a href="#">
                                        <img src="{{.viewpath}}/Images/main_13.gif" width="44" height="29" border="0"/>
                                    </a>
                                </td>
                                <td width="39">
                                    <a href="/login/logout" onclick="return confirm('确定要退出吗？');">
                                        <img title="exit" alt="exit" src="{{.viewpath}}/Images/main_14.gif" width="39" height="29" border="0"/>
                                    </a>
                                </td>
                                <td width="36"><img src="{{.viewpath}}/Images/main_15.gif" width="36" height="29" /></td>
                            </tr>
                        </table></td>
                    </tr>
                </table></td>
                <td width="102" background="{{.viewpath}}/Images/main_05.gif">&nbsp;</td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td height="26" background="{{.viewpath}}/Images/main_18.gif">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="180" height="26" background="{{.viewpath}}/Images/main_16.gif">&nbsp;</td>
                <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="76" height="23" valign="bottom">
                        <table width="74" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="18" style="background:url({{.viewpath}}/Images/topbg.gif); border:solid 1px #a6d0e7; font-size:12px; color:#2b7dbb;">
                                <div align="center"><img src="{{.viewpath}}/Images/001.gif" width="10" height="10" />系统管理
                                </div></td>
                            </tr>
                        </table></td>
                        <td width="76" valign="bottom">
                        <table width="74" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="18" style="background:url({{.viewpath}}/Images/topbg.gif); border:solid 1px #a6d0e7;font-size:12px; color:#2b7dbb;">
                                <div align="center"><img src="{{.viewpath}}/Images/002.gif" width="10" height="10" />方法管理
                                </div></td>
                            </tr>
                        </table></td>
                        <td width="76" valign="bottom">
                        <table width="74" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="18" style="background:url({{.viewpath}}/Images/topbg.gif); border:solid 1px #a6d0e7;font-size:12px; color:#2b7dbb;">
                                <div align="center"><img src="{{.viewpath}}/Images/003.gif" width="10" height="10" />用户管理
                                </div></td>
                            </tr>
                        </table></td>
                        <td valign="bottom">&nbsp;</td>
                    </tr>
                </table></td>
                <td width="200"><img src="{{.viewpath}}/Images/user.gif" width="10" height="10" /><span class="STYLE1">欢迎您:{{.editor_username}}  角色:{{.editor_power}}</span></td>
            </tr>
        </table></td>
    </tr>
</table>