<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ManahementCMS</title>
	<meta content="text/html; charset=gbk" http-equiv=content-type>
	<style type=text/css>
	body {
	background-color: #016aa9; margin: 0px
	}
	.style1 {
		font-family: arial, helvetica, sans-serif; color: #00476f; font-size: 12px
	}
	.input {
		border-bottom: #2286ab 1px solid; border-left: #2286ab 1px solid; font-family: arial, helvetica, sans-serif,"宋体"; background: #fff; font-size: 12px; border-top: #2286ab 1px solid; border-right: #2286ab 1px solid
	}
	body {
		font-size: 12px
	}
	td {
		font-size: 12px
	}
	th {
		font-size: 12px
	}
</style>
<script  type="text/javascript">	var weburl="/";
</script>
<script  type="text/javascript" src="/static/Js/login.js"></script>
<body>
	<form  name="admininfo" action="/login" method="post">
	<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">
	<tbody>
		<tr>
			<td>
				<table border="0" cellspacing="0" cellpadding="0" width="984" align="center">
					<tbody>
						<tr>
							<td height="40" colspan="3">&nbsp;</td>
						</tr>
						<tr>
							<td valign="top" rowspan=2 width="252">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									<tbody>
										<tr>
											<td height="377" valign="bottom" width="259">
											<img src="/static/Images/admin_11.jpg" width="252" height="240">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
				
							<td height="292" valign="top" width="487">
							<table border="0" cellspacing="0" cellpadding="0" width="100%" background="/static/Images/1_03.jpg">
								<tbody>
									<tr>
										<td height="90" width="13">&nbsp;</td>
										<td valign="bottom" colspan="2">
											<img src="/static/Images/admin_07.jpg" width="462"  height="71" />
										</td>
									</tr>
									<tr>
										<td height="171">&nbsp;</td>
										<td valign="top" width="167">
											<img src="/static/Images/admin_09.jpg" width="167" height="171" />
										</td>
										<td width="307">
											<table style="COLOR: #fff" border="0" cellspacing="0" cellpadding="0" width="307">
												<tbody>
													<tr>
														<td height="30" width=55 align="right">Username：</td>
														<td style="PADDING-LEFT: 6px" width="252">
															<input id="username" class="input" name="username" value="" />	
														</td>
													</tr>
													<tr>
														<td height="30" align="right">Password：</td>
														<td style="PADDING-LEFT: 6px">
															<input id="password"  class="input" type="password" name="pwd" value="">
														</td>
													</tr>
													<tr>
														<td height="30" align="right">Verify：</td>
														<td style="PADDING-LEFT: 6px">
															<input id="verifycode" maxlength="4" size="5" name="captcha" />
															{{create_captcha}}
														</td>
													</tr>
													<tr>
														<td>&nbsp;</td>
														<td>
														<table border="0" cellspacing="0" cellpadding="0" />
															<tbody>
																<tr>
																	<td style="COLOR: #fff" valign="top" width=140>&nbsp;</td>
																	<td>
																		<input id="imagefield" src="/static/Images/login.gif" type="image"   name="imagefield" />
																	</td>
																</tr>
															</tbody>
														</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<tr>
										<td bgcolor="#63a3c7" height="25" valign="middle" colspan="3" align="middle">
											<div align="center">
												<span class="style1">COPYRIGHT &copy; 2016 </span>
											</div>
										</td>
									</tr>
									<tr>
									<td height="6"></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						</td>
						<td valign="top" width="245">
							<table border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td height="292" valign="top" width="245" >
											<img src="/static/Images/admin_05.jpg" width="245" height="292" />
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td height="85" valign="top">
						<img src="/static/Images/admin_13.jpg" width='487' height="85" />
						</td>
						<td valign="top">
							<img src="/static/Images/admin_14.jpg"  width="245" height="85">
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
	</table>
	</form>
</body>
</html>