<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>editor</title>
        <link href="{{.viewpath}}/Css/tab.css" rel="stylesheet" type="text/css" />
        <script>
            function removeEditor(id){
                if(confirm("真的删除？")){
                    location.href = "/Editor/remove/id/"+id;
                }
            }
        </script>
    </head>
    <body>
        <div class="box-head">
            <h2>编辑列表</h2>
        </div>
        <div class="box-body" >
            <table class="sortable" id="tb-1" width="98%"  cellspacing="0" cellpadding="0">
                <thead>
                    <tr class="row">
                        <th width="50">ID</th>
                        <th>用户名</th>
                        <th>备注</th>
                        <th width="150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $elem := .Editor}}
                    <tr class="row">
                        <th>{{$elem.Id}}</th>
                        <td>
						{{if checkIsHref "editor" "edit" .Id  }}
						<a href="/editor/edit/id/{{$elem.Id}}">{{$elem.Username}}</a>
						{{else}}
						{{$elem.Username}}
						{{end}}
						</td>
                        <td>{{$elem.Description}}</td>
                        <td>
							{{if checkIsHref "editor" "edit" .Id  }}
							<a href="/editor/edit/id/{{$elem.Id}}">[编辑]</a>
							{{end}}
                            {{if ne $elem.Username "admin" }}
                                <a href="javascript:removeEditor({$item['id']})">[删除]</a>
                            {{end}}
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <div class="pagination">
                <div class="operation">
				{{if checkIsHref "editor" "add" .Id  }}
                    <a href="/editor/add"><span>添加编辑</span></a>
				{{end}}
                </div>
            </div>
        </div>

    </body>
</html>